.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1090px;
	min-height: 1834px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 62px;
}

#u2491
{
	z-index: 2;
	width: 1290px;
	min-height: 1444px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	left: -100px;
}

#u2493
{
	z-index: 3;
	width: 1290px;
	border-color: #000000;
	background-color: #F4F4F4;
	padding-bottom: 41px;
	position: relative;
	left: -100px;
	margin-top: 114px;
}

#u2493_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1090px;
	position: relative;
	left: -100px;
}

#u2495-20
{
	z-index: 24;
	width: 200px;
	min-height: 233px;
	line-height: 16px;
	font-size: 13px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 142px;
}

#u2496
{
	z-index: 44;
	width: 535px;
	position: relative;
	margin-right: -10000px;
	left: 378px;
	background: transparent url("../images/ipsum%20new%20logo1sss.png") no-repeat left top;
	background-size: contain !important;
}

#u2496:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/ipsum%20new%20logo1sss2.png") no-repeat left top;
	background-size: contain !important;
}

#u3107-4
{
	z-index: 45;
	width: 180px;
	min-height: 74px;
	line-height: 58px;
	font-size: 48px;
	color: #661C0E;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	margin-bottom: -23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 281px;
	left: 186px;
}

#u2494-20
{
	z-index: 4;
	width: 137px;
	min-height: 256px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 1012px;
}

#u2494-2,#u2494-3,#u2494-5,#u2494-7,#u2494-8,#u2494-10,#u2494-12,#u2494-13,#u2494-15,#u2494-17
{
	font-size: 13px;
	text-align: right;
	line-height: 16px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
}

body
{
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

