.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1290px;
	min-height: 1782px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 7px;
}

#u12319-3
{
	z-index: 51;
	width: 1490px;
	min-height: 92px;
	border-style: none;
	border-color: transparent;
	color: #000000;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: -50%;
	background: #FFFFFF url("../images/white.jpg") no-repeat left top;
	background-size: cover !important;
}

#u12327
{
	z-index: 75;
	width: 164px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -678px;
}

#ptoppage2
{
	width: 0.01px;
	margin-left: 660px;
	position: relative;
}

#toppage2,#toppage
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u12322-4
{
	z-index: 60;
	width: 85px;
	min-height: 23px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	text-align: left;
	font-weight: bold;
	position: fixed;
	top: 37px;
	left: 50%;
	margin-left: -110px;
}

#u12322-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px -110px;
}

#u12322-4:hover p,#u12322-4:hover span
{
	text-decoration: underline;
}

#u12322
{
	font-weight: normal;
}

#ppu12320
{
	width: 0.01px;
	padding-bottom: 23px;
	margin-left: 645px;
	margin-top: 11px;
	position: relative;
}

#u12320
{
	z-index: 55;
	background: url("../images/u12320_states.png") no-repeat 0px 0px;
	position: fixed;
	top: 36px;
	left: 50%;
	margin-left: 0px;
}

#u12320_states
{
	height: 23px;
	width: 108px;
	vertical-align: top;
}

#u12320:hover #u12320_states
{
	background: url("../images/u12320_states-r.png") no-repeat 0px 0px;
}

#u12321
{
	z-index: 58;
	background: url("../images/u12321_states.png") no-repeat 0px 0px;
	position: fixed;
	top: 36px;
	left: 50%;
	margin-left: 136px;
}

#u12321_states
{
	height: 23px;
	width: 118px;
	vertical-align: top;
}

#u12321:hover #u12321_states
{
	background: url("../images/u12321_states-r.png") no-repeat 0px 0px;
}

#u12323
{
	z-index: 65;
	background: url("../images/u12323_states.png") no-repeat 0px 0px;
	position: fixed;
	top: 36px;
	left: 50%;
	margin-left: 286px;
}

#u12323_states
{
	height: 23px;
	width: 79px;
	vertical-align: top;
}

#u12323:hover #u12323_states
{
	background: url("../images/u12323_states-r.png") no-repeat 0px 0px;
}

#pu12324-4
{
	width: 0.01px;
	padding-bottom: 23px;
	margin-left: 1047px;
	top: -23px;
	margin-bottom: -23px;
	position: relative;
}

#u12324-4
{
	z-index: 67;
	width: 122px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	font-size: 18px;
	line-height: 22px;
	text-align: left;
	position: fixed;
	top: 36px;
	left: 50%;
	margin-left: 402px;
}

#u12324-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px 0px 0px 402px;
}

#u12324-4.MuseLinkActive p
{
	text-align: left;
	text-decoration: underline;
}

#u12325-4
{
	z-index: 71;
	position: fixed;
	top: 36px;
	left: 50%;
	margin-left: 552px;
}

#u12325-4_img
{
	display: block;
	vertical-align: top;
}

#u12237
{
	z-index: 7;
	width: 1490px;
	min-height: 612px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	left: -101px;
	margin-top: 31px;
}

#pu12116-4
{
	width: 0.01px;
	margin-left: 110px;
	margin-top: 13px;
	position: relative;
}

#u12116-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
}

#u16227
{
	z-index: 2;
	width: 591px;
	min-height: 1046px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 534px;
}

#pu12378
{
	width: 0.01px;
	left: -100px;
	margin-top: 59px;
	position: relative;
}

#u12378
{
	z-index: 10;
	width: 1490px;
	border-color: #000000;
	background-color: #A1ABB1;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
}

#u12378_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1290px;
	position: relative;
	left: -100px;
}

#u12380-20
{
	z-index: 31;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 293px;
}

#u12379-20
{
	z-index: 11;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 975px;
}

#u16472
{
	z-index: 77;
	width: 432px;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 524px;
}

#u16472_clip
{
	overflow: hidden;
	width: 432px;
	height: 226px;
}

#u16472_img
{
	margin-bottom: -37px;
}

