@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1199.5557112068961px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#top
{
	margin-left: 373px;
	position: relative;
}

#ppamphletu15435
{
	width: 0.01px;
	padding-bottom: 1px;
	left: -1px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#pamphletu15435
{
	z-index: 87;
	width: 0.01px;
	height: 45px;
	padding-bottom: 332px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
}

#u15440
{
	position: absolute;
	width: 167px;
	top: 73px;
}

#u15440popup
{
	z-index: 88;
}

#u15441
{
	z-index: 89;
	width: 165px;
	height: 303px;
	border-width: 1px;
	border-style: solid;
	border-color: #A1ABB1;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#menuu15442
{
	z-index: 90;
	width: 166px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -1px;
}

#u15482
{
	width: 166px;
	position: relative;
}

#u15485
{
	width: 166px;
	min-height: 17px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u15487-5
{
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 0px;
}

#u15469,#u15476
{
	width: 166px;
	min-height: 17px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u15470-6,#u15478-5
{
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u15468,#u15475,#u15489,#u15443,#u15461
{
	width: 166px;
	margin-top: 2px;
	position: relative;
}

#u15492,#u15446,#u15462
{
	width: 166px;
	min-height: 17px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u15485.MuseMenuActive,#u15462.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u15495-6,#u15447-6,#u15465-6
{
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u15503
{
	z-index: 137;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 30px;
}

#u15504
{
	position: absolute;
	width: 23px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	top: -29px;
	left: -30px;
	padding: 29px 35px 27px 30px;
}

#u15504.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #FFFFFF;
	margin: 0px;
}

#u15507
{
	z-index: 139;
	width: 23px;
	height: 3px;
	border-color: #000000;
	background-color: #721919;
	position: relative;
}

#u15504.PamphletThumbSelected #u15507
{
	margin: 0px;
}

#u15505
{
	z-index: 140;
	width: 23px;
	height: 3px;
	border-color: #000000;
	background-color: #721919;
	margin-top: 3px;
	position: relative;
}

#u15504.PamphletThumbSelected #u15505
{
	margin: 3px 0px 0px;
}

#u15506
{
	z-index: 141;
	width: 23px;
	height: 3px;
	border-color: #000000;
	background-color: #721919;
	margin-top: 4px;
	position: relative;
}

#u15504.PamphletThumbSelected #u15506
{
	margin: 4px 0px 0px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u15235
{
	z-index: 8;
	width: 245px;
	position: relative;
	margin-right: -10000px;
	left: 262px;
}

#u15235_clip
{
	overflow: hidden;
	width: 245px;
	height: 128px;
}

#u15235_img
{
	margin-bottom: -21px;
}

#u13615
{
	z-index: 7;
	width: 768px;
	height: 388px;
	border-style: none;
	border-color: transparent;
	position: relative;
	top: -303px;
	margin-bottom: -303px;
	background: transparent url("../../images/banner%20image%202%20new-u13615-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1042-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-left: 247px;
	margin-top: 46px;
	position: relative;
}

#u16309-6
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-left: 8px;
	margin-top: 23px;
	position: relative;
}

#pu16310-6
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 47px;
	position: relative;
}

#u16310-6
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
}

#u16315
{
	z-index: 42;
	width: 375px;
	position: relative;
	margin-right: -10000px;
	left: 376px;
}

#u16315_img
{
	margin-top: -9px;
	margin-bottom: -23px;
}

#u16313
{
	z-index: 40;
	width: 375px;
	position: relative;
	margin-right: -10000px;
}

#u16313_img
{
	margin-top: -29px;
	margin-right: -1px;
	margin-bottom: -4px;
}

#u16311-6
{
	z-index: 24;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 386px;
}

#pu16313,#pu16312-10
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 46px;
	position: relative;
}

#u16312-10
{
	z-index: 30;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u16307
{
	z-index: 10;
	width: 375px;
	position: relative;
	margin-right: -10000px;
	left: 376px;
}

#u16315_clip,#u16313_clip,#u16307_clip
{
	overflow: hidden;
	width: 375px;
	height: 249px;
}

#u16307_img
{
	margin-right: -130px;
}

#pu16320
{
	width: 0.01px;
	margin-top: 47px;
	position: relative;
}

#u16320
{
	z-index: 44;
	width: 768px;
	border-color: #000000;
	background-color: #A1ABB1;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u16322-20
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 67px;
}

#u16321-20
{
	z-index: 45;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 569px;
}

#u16323
{
	z-index: 85;
	width: 387px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 204px;
}

#u16323_clip
{
	overflow: hidden;
	width: 387px;
	height: 202px;
}

#u16323_img
{
	margin-bottom: -33px;
}

