@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 3191.9057112068967px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#top
{
	margin-left: 373px;
	position: relative;
}

#ppamphletu15925
{
	width: 0.01px;
	padding-bottom: 1px;
	left: -1px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#pamphletu15925
{
	z-index: 148;
	width: 0.01px;
	height: 45px;
	padding-bottom: 332px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
}

#u15982
{
	z-index: 149;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 30px;
}

#u15983
{
	position: absolute;
	width: 23px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	top: -29px;
	left: -30px;
	padding: 29px 35px 27px 30px;
}

#u15983.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #FFFFFF;
	margin: 0px;
}

#u15986
{
	z-index: 151;
	width: 23px;
	height: 3px;
	border-color: #000000;
	background-color: #721919;
	position: relative;
}

#u15983.PamphletThumbSelected #u15986
{
	margin: 0px;
}

#u15984
{
	z-index: 152;
	width: 23px;
	height: 3px;
	border-color: #000000;
	background-color: #721919;
	margin-top: 3px;
	position: relative;
}

#u15983.PamphletThumbSelected #u15984
{
	margin: 3px 0px 0px;
}

#u15985
{
	z-index: 153;
	width: 23px;
	height: 3px;
	border-color: #000000;
	background-color: #721919;
	margin-top: 4px;
	position: relative;
}

#u15983.PamphletThumbSelected #u15985
{
	margin: 4px 0px 0px;
}

#u15926
{
	position: absolute;
	width: 167px;
	top: 73px;
}

#u15926popup
{
	z-index: 154;
}

#u15927
{
	z-index: 155;
	width: 165px;
	height: 303px;
	border-width: 1px;
	border-style: solid;
	border-color: #A1ABB1;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#menuu15928
{
	z-index: 156;
	width: 166px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -1px;
}

#u15929
{
	width: 166px;
	position: relative;
}

#u15931
{
	height: 17px;
	width: 166px;
	vertical-align: top;
	background: url("../../images/u15931.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u15930.MuseMenuActive #u15931
{
	background: url("../../images/u15931-a.png") no-repeat 0px 0px;
}

#u15930,#u15969,#u15976
{
	width: 166px;
	min-height: 17px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u15971-6,#u15978-5
{
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u15953
{
	width: 166px;
	min-height: 17px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u15955-6
{
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 0px;
}

#u15968,#u15975,#u15943,#u15950,#u15936
{
	width: 166px;
	margin-top: 2px;
	position: relative;
}

#u15946,#u15937
{
	width: 166px;
	min-height: 17px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u15953.MuseMenuActive,#u15937.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u15947-6,#u15940-6
{
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u15247
{
	z-index: 103;
	width: 245px;
	position: relative;
	margin-right: -10000px;
	left: 262px;
}

#u15247_clip
{
	overflow: hidden;
	width: 245px;
	height: 128px;
}

#u15247_img
{
	margin-bottom: -21px;
}

#u15031
{
	z-index: 102;
	width: 768px;
	height: 388px;
	border-style: none;
	border-color: transparent;
	position: relative;
	top: -303px;
	margin-bottom: -303px;
	background: transparent url("../../images/banner%20image%20new%20colour%202-u15031-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u14921-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	margin-left: 284px;
	margin-top: 46px;
	position: relative;
}

#u14902-4
{
	z-index: 98;
	width: 706px;
	min-height: 102px;
	line-height: 19px;
	font-size: 16px;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 32px;
	margin-top: 20px;
	position: relative;
}

#u14935-4
{
	z-index: 89;
	width: 396px;
	min-height: 35px;
	line-height: 24px;
	font-size: 20px;
	color: #2A2026;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 364px;
	margin-top: 8px;
	position: relative;
}

#pu16233
{
	width: 0.01px;
	margin-left: 18px;
	position: relative;
}

#u16233
{
	z-index: 2;
	width: 412px;
	min-height: 990px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#u15146
{
	z-index: 30;
	width: 63px;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
	left: 529px;
}

.ie #u15146
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u14958-4
{
	z-index: 38;
	width: 332px;
	min-height: 26px;
	line-height: 19px;
	font-size: 16px;
	color: #000000;
	letter-spacing: 0px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 280px;
}

#u14909-4
{
	z-index: 42;
	width: 166px;
	min-height: 32px;
	line-height: 19px;
	font-size: 16px;
	color: #000000;
	letter-spacing: 0px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 237px;
	left: 68px;
}

#u14948-4
{
	z-index: 46;
	width: 255px;
	min-height: 33px;
	line-height: 19px;
	font-size: 16px;
	color: #000000;
	letter-spacing: 0px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 18px;
}

#u14933-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 66px;
}

#u15015-11
{
	z-index: 64;
	width: 145px;
	min-height: 101px;
	line-height: 19px;
	font-size: 16px;
	color: #000000;
	letter-spacing: 0px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 7px;
}

#u14941-8
{
	z-index: 75;
	width: 147px;
	min-height: 71px;
	line-height: 19px;
	font-size: 16px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 172px;
}

#u14941-2,#u14941-4
{
	text-align: left;
	letter-spacing: 0px;
}

#u14941-6
{
	text-align: center;
}

#u14954
{
	z-index: 97;
	width: 719px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 37px;
	position: relative;
}

#u15098-4
{
	z-index: 56;
	display: block;
	vertical-align: top;
	margin-left: 253px;
	margin-top: 39px;
	position: relative;
}

#pu14903-7
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 6px;
	position: relative;
}

#u14903-7
{
	z-index: 31;
	width: 270px;
	min-height: 59px;
	line-height: 22px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
}

#u14903-2
{
	text-align: center;
	letter-spacing: 0px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u14903-4
{
	text-align: center;
	letter-spacing: 0px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u14903-5
{
	color: #FFFFFF;
	font-family: esteban, serif;
	font-weight: 400;
}

#u15086-6
{
	z-index: 50;
	width: 320px;
	min-height: 71px;
	line-height: 22px;
	font-size: 18px;
	color: #000000;
	letter-spacing: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 399px;
}

#u15086-2
{
	font-weight: 700;
}

#u15086-4
{
	font-weight: 400;
}

#u15023-4
{
	z-index: 19;
	display: block;
	vertical-align: top;
	margin-left: 172px;
	margin-top: 52px;
	position: relative;
}

#pu14930
{
	width: 0.01px;
	margin-left: 185px;
	margin-top: 26px;
	position: relative;
}

#u14930
{
	z-index: 87;
	width: 62px;
	position: relative;
	margin-right: -10000px;
}

#u15091
{
	z-index: 27;
	width: 62px;
	position: relative;
	margin-right: -10000px;
	left: 356px;
}

#pu14914-4
{
	width: 0.01px;
	margin-left: 172px;
	position: relative;
}

#u14914-4
{
	z-index: 83;
	width: 89px;
	min-height: 22px;
	line-height: 24px;
	font-size: 20px;
	color: #000000;
	letter-spacing: 0px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u15088-4
{
	z-index: 11;
	width: 75px;
	min-height: 21px;
	line-height: 22px;
	font-size: 18px;
	color: #000000;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 363px;
}

#ppu14891
{
	width: 0.01px;
	margin-left: 74px;
	margin-top: 29px;
	position: relative;
}

#pu14891
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u14891
{
	z-index: 96;
	width: 240px;
	min-height: 289px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 32px;
	position: relative;
}

#u15019
{
	z-index: 25;
	width: 62px;
	margin-left: 87px;
	margin-top: 45px;
	position: relative;
}

#u15144-4
{
	z-index: 7;
	width: 65px;
	min-height: 27px;
	line-height: 22px;
	font-size: 18px;
	color: #000000;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	margin-left: 88px;
	position: relative;
}

#u15089
{
	z-index: 93;
	width: 291px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#pu15021
{
	width: 0.01px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 346px;
}

#u15021
{
	z-index: 94;
	width: 307px;
	min-height: 558px;
	border-width: 2px;
	border-style: solid;
	border-color: #4F68AE;
	background-color: #FFFFFF;
	margin-left: 4px;
	position: relative;
}

#u15021 div
{
	margin: -1px;
}

#u15036
{
	z-index: 23;
	width: 62px;
	margin-left: 118px;
	margin-top: 50px;
	position: relative;
}

#u15008-4
{
	z-index: 15;
	width: 88px;
	min-height: 24px;
	line-height: 22px;
	font-size: 18px;
	color: #000000;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	margin-left: 105px;
	margin-top: 4px;
	position: relative;
}

#u14942
{
	z-index: 95;
	width: 313px;
	min-height: 316px;
	border-color: #A07259;
	background-color: transparent;
	margin-top: 11px;
	position: relative;
}

#pu16445
{
	width: 0.01px;
	margin-top: 46px;
	position: relative;
}

#u16445
{
	z-index: 105;
	width: 768px;
	border-color: #000000;
	background-color: #A1ABB1;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u16447-20
{
	z-index: 126;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 67px;
}

#u16446-20
{
	z-index: 106;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 569px;
}

#u16448
{
	z-index: 146;
	width: 387px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 204px;
}

#u16448_clip
{
	overflow: hidden;
	width: 387px;
	height: 202px;
}

#u16448_img
{
	margin-bottom: -33px;
}

