@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 684px;
	min-height: 722.1888830512908px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 128px 25px 1px 59px;
}

#pu3447
{
	width: 0.01px;
	margin-left: 130px;
	position: relative;
}

#u3447
{
	z-index: 2;
	width: 389px;
	position: relative;
	margin-right: -10000px;
}

#u3447_img
{
	padding-right: 1px;
}

#u3450
{
	z-index: 8;
	width: 273px;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 58px;
}

#u3449-4
{
	z-index: 4;
	margin-left: 31px;
	margin-top: 82px;
	position: relative;
}

#u3449-4_img
{
	display: block;
	vertical-align: top;
}

#pu3452-4
{
	width: 0.01px;
	margin-top: 71px;
	position: relative;
}

#u3452-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u3456
{
	z-index: 26;
	width: 1px;
	height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u3453-4
{
	z-index: 14;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 174px;
}

#u3457
{
	z-index: 27;
	width: 1px;
	height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 313px;
}

#u3454-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}

#u3458
{
	z-index: 28;
	width: 1px;
	height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 513px;
}

#u3455-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 547px;
}

