@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 770px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#page_position_content
{
	margin-top: 30px;
	margin-bottom: -610px;
}

#u7187
{
	z-index: 31;
	width: 379px;
	height: 45px;
	border-color: #000000;
	background-color: #A1ABB1;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u7195
{
	z-index: 44;
	width: 1px;
	height: 45px;
	border-color: #000000;
	background-color: #5A0000;
	position: fixed;
	top: 0px;
	left: 379px;
}

#u7193
{
	z-index: 42;
	width: 29px;
	position: fixed;
	top: 12px;
	left: 265px;
}

#u7189
{
	z-index: 38;
	width: 30px;
	position: fixed;
	top: 12px;
	left: 302px;
}

#u7188-6
{
	z-index: 32;
	width: 216px;
	min-height: 16px;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 16px;
	left: 7px;
}

#u7188
{
	color: #FFFFFF;
}

#u7191
{
	z-index: 40;
	width: 31px;
	position: fixed;
	top: 12px;
	left: 340px;
}

#ourmanifesto
{
	margin-left: 174px;
	position: relative;
}

#u7183
{
	z-index: 27;
	width: 206px;
	position: fixed;
	top: 39px;
	left: 69px;
}

#u7094
{
	z-index: 25;
	width: 379px;
	height: 104px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
	top: 45px;
	left: 0px;
}

#u7319
{
	z-index: 45;
	width: 153px;
	height: 91px;
	position: fixed;
	top: 51px;
	left: 98px;
}

.ie #u7319
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7185
{
	z-index: 29;
	width: 107px;
	position: fixed;
	top: 48px;
	left: 248px;
}

#pscroll
{
	width: 0.01px;
	margin-left: 111px;
	margin-top: 88px;
	position: relative;
}

#scroll
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u7093-3
{
	z-index: 22;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 135px;
}

#u15268
{
	z-index: 2;
	width: 379px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 151px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
	background: transparent url("../../images/chalkboard%20new%203.jpg") no-repeat center center;
	background-size: cover !important;
}

#u6255-3
{
	z-index: 17;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 246px;
}

#u7095
{
	z-index: 26;
	width: 381px;
	height: 1px;
	border-color: #000000;
	background-color: #A1ABB1;
	position: fixed;
	top: 149px;
	left: 0px;
}

#pu6243-4
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 6px;
	position: relative;
}

#u6243-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 18px;
}

#u6244-10
{
	z-index: 7;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
}

#u7988-3
{
	z-index: 46;
	width: 146px;
	min-height: 49px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	font-family: covered-by-your-grace, sans-serif;
	font-weight: 400;
	left: -208px;
	margin-top: 638px;
	position: relative;
}

#u7988-3.MuseLinkActive
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	margin: 638px 0px 0px;
}

#u7988-3.MuseLinkActive p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 37px;
	text-align: center;
	font-family: covered-by-your-grace, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#page .verticalspacer
{
	clear: both;
}

