#u6244-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7188-6,#u6244-5,#u6244-6,#u6244-7,#u6244-8,#u6244-9,#u6244-10,#u6244-11
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u6246-4,#u7992-4,#u7988-3.MuseLinkActive p,#u7988-3
{
	font-family: covered-by-your-grace-n4, sans-serif;
}

