#u7078-6,#u6139-8,#u6139-9,#u6139-10,#u6140,#u6140-6,#u6140-7,#u6140-8,#u6140-9,#u6140-10,#u6140-11
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u6140-12
{
	font-family: esteban-n4, serif;
}

#u6139,#u6139-7,#u6140-5,#u6142-4
{
	font-family: open-sans-n4, sans-serif;
}

