@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 340px;
	min-height: 403.2302878029382px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 71px 14px 95.76971219706178px 26px;
}

#pu1464
{
	width: 0.01px;
	margin-left: 41px;
	position: relative;
}

#u1464
{
	z-index: 2;
	width: 226px;
	position: relative;
	margin-right: -10000px;
}

#u1467
{
	z-index: 8;
	width: 165px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 40px;
}

#u1466-4
{
	z-index: 4;
	margin-left: 10px;
	margin-top: 11px;
	position: relative;
}

#u1466-4_img
{
	display: block;
	vertical-align: top;
}

#pu3242-4
{
	width: 0.01px;
	margin-top: 44px;
	position: relative;
}

#u3242-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3251
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 64px;
}

#u3244-4
{
	z-index: 14;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 80px;
}

#u3252
{
	z-index: 27;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 155px;
}

#u3245-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 170px;
}

#u3253
{
	z-index: 28;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 247px;
}

#u3246-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 263px;
}

#page .verticalspacer
{
	clear: both;
}

